html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.name {
  position: absolute;
  left: 0px;
  top: 0px;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.progress-ring {
  margin-top: 90px;
  margin-bottom: 50px;
}

.progress-ring__circle {
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.3s;
}

.controls {
  margin-top: 50px;
  width: 137px;
}

.val,
.toggle {
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  height: 40px;
  /* border: 1px solid black; */
  margin-bottom: 16px;
}

label.text {
  margin-left: 24px;
}

input[type="number"] {
  border-radius: 15px;
  border: 1px solid black;
  width: 46px;
  height: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

input[type="number"]:focus {
  outline: none !important;
  border: 1px solid black;
}

.toggle-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  position: relative;

  width: 48px;
  height: 30px;

  vertical-align: top;

  display: inline-block;
  margin: 0;

  background: #c4d0d4;
  border: 0px solid black;
  border-radius: 15px;

  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button::after {
  content: "";

  display: inline-block;
  position: absolute;
  left: 2px;
  top: 2px;

  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;

  transform: translateX(0);

  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after {
  transform: translateX(calc(100% - 8px));
  background-color: #fff;
}
.toggle-button:checked {
  background-color: #1f75fe;
}
